/.vscode
/H.c++
/arrayasarg
/arrayasarg.cpp
/defaulttemp
/defaulttemp.cpp
/digitalclock.cpp
/files
/files.cpp
/files2
/files2.cpp
/foverload
/foverload.cpp
/lamda
/lamda.cpp
/lists
/lists.cpp
/maps
/maps.cpp
/matrix
/matrix.cpp
/matrixtranspose.cpp
/memfunctemp
/memfunctemp.cpp
/multitemp
/multitemp.cpp
/pep
/pep.cpp
/pep1
/project1.cpp
/projecta
/projecta.cpp
/projectb
/projectb.cpp
/sample
/sppiralmatrix
/sppiralmatrix.cpp
/temp.cpp
/temp1prac
/temp1prac.cpp
/temp2
/temp2.cpp
/tempinfunc
/tempinfunc.cpp
/templates
/templates.cpp
/vector
/vector.cpp